@import '../../../colors.css';

.button {
    max-height: 30px;
    padding: 7px 10px;
    
    color: #ffffff;
    font-weight: 600;

    border-radius: 4px;
    border: none;

    cursor: pointer;
}

.primary {
    background: var(--color-brand);
}

.primary:hover {
    background: linear-gradient(0deg, var(--color-transparent), var(--color-transparent)), var(--color-brand);
}

.secondary {
    background: hsla(240, 3%, 23%, 1);
}

.secondary:hover {
    background: linear-gradient(0deg, var(--color-transparent), var(--color-transparent)), hsla(240, 3%, 23%, 1);
}

.clear {
    background: transparent;
}

.clear:hover {
    background: var(--color-transparent);
}