@import url(../../../colors.css);

/* Menu */

.menu {
    position: absolute;
    top: 30px;

    max-height: 67vh;
    padding: 10px;

    background-color: hsla(240, 7%, 11%, 1);

    display: flex;
    flex-direction: column;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;

    overflow-y: auto;
}

.left-aligned {
    left: 0;
}

.right-aligned {
    right: 0;
}

.menuEnter {
    transform: translateX(-110%);
}

.menuEnterActive {
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menuExit {
    transform: translateX(-110%);
}

.menuExitActive {
    transform: translateX(0%);
    transition: all 500ms ease;
}

/* Header */

.header {
    margin: 0;
    padding: 5px;

    font-size: 1rem;
    line-height: 1.1;
    color: var(--color-text-alt);
    text-transform: uppercase;
}

/* Link */

.link {
    width: 230px;
    padding: 5px;

    line-height: 1.461;

    border-radius: 4px;

    color: var(--color-text-primary);
    text-decoration: none;
}

.link:hover {
    color: var(--color-text-primary);
    background: var(--color-transparent);
}

/* Border */

.border {
    width: 100%;
    padding: 10px 5px;

    border: none;
}

.border hr {
    background-color: var(--color-text-primary);
}

/* Button */

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 4px;
    padding: 5px;

    color: var(--color-text-primary);
}

.button:hover {
    background-color: var(--color-transparent);
}

.linkButton {
    cursor: pointer;
}

.property {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.property > *:first-child {
    margin-right: 10px;
}

.value {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.value > *:last-child {
    margin-left: 10px;
}