.button {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
    position: absolute;
    display: block;
    background-color: white;

    min-width: max-content;
    border-radius: 4px;
    padding: 3px 6px;

    color: black;
    font-weight: 600;
    text-align: center;

}

.tooltip::before {
    position: absolute;
    bottom: -3px;

    display: block;
    height: 7px;
    width: 7px;
    content: '';

    background-color: #fff;
    border: inherit;

    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

/***** Tooltip positioning *****/

.top {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.top::before {
    bottom: -3px;
    left: calc(50% - 3.5px);

    transform: rotate(-45deg);
}

.bottom {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom::before {
    top: -3px;

    left: calc(50% - 3.5px);
    transform: rotate(135deg);
}

.right {
    top: 50%;
    transform: translateY(-50%);
    
    left: calc(30px + 12px);
}

.right::before {
    top: calc(50% - 3.5px);
    left: -3px;

    transform: rotate(45deg);
}