@import-normalize;

@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


html, body {
  background-color: hsl(240, 7%, 6%);

  font-family: 'Inter', sans-serif;
  font-size: 13px;
}

a:hover  {
  color: var(--color-brand);
}

.body, p {
  font-size: 1rem;
  line-height: 19px;
  font-weight: 400;
}

.header {
  font-size: 1.31rem;
  font-weight: 700;
}

.label {
  font-size: 1.1rem;
  font-weight: 600;
}