@import-normalize;

@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


html, body {
  background-color: hsl(240, 7%, 6%);

  font-family: 'Inter', sans-serif;
  font-size: 13px;
}

a:hover  {
  color: var(--color-brand);
}